:root {
    --white: #fff;
    --black: #000;
    --very-light-pink: #c7c7c7;
    --text-input-field: #f7f7f7;
    --hospital-green: #acd9b2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}
body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}
.inactive {
    display: none;
}

/*NavBar*/

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    height: 60px;
    border-bottom: 1px solid var(--very-light-pink);
}
.menu {
    display: none;
}
.logo {
    width: 116px;
}
.navbar-left ul,
.navbar-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 60px;
}
.navbar-left {
    display: flex;
}
.navbar-left ul {
    margin-left: 12px;
}
.navbar-left ul li a,
.navbar-right ul li a {
    text-decoration: none;
    color: var(--hospital-green);
    border: 1px solid var(--hospital-green);
    padding: 8px;
    border-radius: 8px;
    margin-right: 6px;
}
.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
    background-color: var(--hospital-green);
    border: 1px solid var(--white);
    color: var(--white);
}
.navbar-email {
    font-size: var(--sm);
    font-weight: 300;
    margin-right: 12px;
    cursor: pointer;
}
.navbar-email img {
    margin-left: 10px;
    transform: rotate(90deg);
}
.navbar-shopping-cart {
    position: relative;
}
.navbar-shopping-cart:hover {
    filter: invert(69%) sepia(22%) saturate(592%) hue-rotate(77deg)
        brightness(97%) contrast(90%);
}
.navbar-shopping-cart div {
    border-radius: 50%;
    width: 16px;
    height: 16px;
    background-color: var(--hospital-green);
    font-size: var(--sm);
    font-weight: bold;
    position: absolute;
    top: -6px;
    right: -3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Desktop Menu*/

.desktop-menu {
    position: absolute;
    top: 60px;
    right: 60px;
    background-color: var(--white);
    width: 100px;
    height: auto;
    border: 1px solid var(--very-light-pink);
    border-radius: 6px;
    padding: 20px 20px 0 20px;
}
.desktop-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.desktop-menu ul li:not(:last-child) {
    text-align: end;
    font-weight: bold;
}
.desktop-menu ul li:last-child {
    padding-top: 20px;
    border-top: 1px solid var(--very-light-pink);
    text-align: end;
}
.desktop-menu ul li:last-child a {
    color: var(--hospital-green);
    font-size: var(--sm);
}
.desktop-menu ul li a {
    color: var(--black);
    font-size: var(--sm);
    text-decoration: none;
    display: inline-block;
    margin-bottom: 23px;
}

/*Media Queries*/

@media (max-width: 850px) {
    .menu {
        display: block;
        width: 35px;
        height: 30px;
        margin-top: 15px;
    }
    .navbar-left ul {
        display: none;
    }
    .navbar-email {
        display: none;
    }
}